* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: $ffMedium;
  //   font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  overflow: hidden;
  // color: $orange;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

button,
input {
  border-radius: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 480px;
  width: 100%;
  @include tablet {
    max-width: 768px;
    padding: 0 75px;
  }
  @include desktop {
    max-width: 1024px;
    padding: 0 71px;
  }
}
//
