<div class="backdrop backdrop__hidden " data-modal>
    <div class="modal modal__container">
        <button class="modal__close" data-modal-close>
            <svg class="modal__close-icon" width="30" height="30">
                <use href="./images/symbol-defs.svg#icon-close-1"></use>
            </svg>
        </button>

        <!-- <img src="./images/Rectangle_1.jpg" alt="film cover"
            srcset="./images/Rectangle_2.jpg 2x, ./images/Rectangle_3.jpg 3x"
            sizes="(min-width: 320px) 240px, (min-width: 768px) 264px, (min-width: 1024px) 396px" /> -->

        <h2 class="film__name">A FISTFUL OF LEAD</h2>
        <div class="film">
            <div class="grade-film">
                <ul class="grade-list">
                    <li class="grade-item">Vote / Votes</li>
                    <li class="grade-item">Popularity</li>
                    <li class="grade-item">Original Title</li>
                    <li class="grade-item">Genre</li>
                </ul>
            </div>
            <div class="response-film">
                <ul class="response-list">
                    <li class="response-item"><span class="grade">7.3</span> / 1260</li>
                    <li class="response-item">100.2</li>
                    <li class="response-item">A FISTFUL OF LEAD</li>
                    <li class="response-item">Western</li>
                </ul>
            </div>
        </div>

        <div>
            <h3 class="about">ABOUT</h3>
            <p class="description">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from
                the most corrupt
                settlement of the
                gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold
                hide
                out in the
                abandoned gold mine where they happen across another gang of three – who themselves were planning to hit
                the
                very same
                bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with
                lead...
                they’ve
                been double crossed – but by who and how?</p>
        </div>

        <div class="button">
            <button class="btn__wached">ADD TO WATCHED</button>
            <button class="btn__queue">ADD TO QUEUE</button>
        </div>

        <!-- <div class="backdrop"></div> -->

    </div>
</div>