
.header{
width: 100%;
background-size: cover;
background-color: rgba(0, 0, 0, 0.56);
background-repeat: no-repeat;
background-position: center;

background-image: linear-gradient( to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56) ),
url("../images/home1xmob.jpg");

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
background-image: linear-gradient( to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56) ),
url("../images/home2xmob.jpg");
}
}

@include tablet {
   .header{
   text-align: center;
   min-width: 768px;
background-image: linear-gradient( to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56) ), 
url("../images/home1xtab.jpg");

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  background-image: linear-gradient( to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56) ),
url("../images/home2xtab.jpg");
   }
 }
 }
@include desktop {
   .header {
  background-image: linear-gradient( to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56) ),
url("../images/home1xdesk.jpg");

   @media (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
     background-image: 
     linear-gradient( to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56) )
url("../images/home2xdesk.jpg");
   }
 }
}

//library
.library{
   header{
background-image: linear-gradient( to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56) ),
url("../images/libr1xmob.jpg");

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
background-image: linear-gradient( to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56) ),
url("../images/libr2xmob.jpg");
}
}

@include tablet {
   .header{
   text-align: center;
   min-width: 768px;
background-image: linear-gradient( to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56) ), 
url("../images/librtab1x.jpg");

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  background-image: linear-gradient( to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56) ),
url("../images/librtab2x.jpg");
   }
 }
 }
@include desktop {
   .header {
  background-image: linear-gradient( to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56) ),
url("../images/librdes1x.jpg");

   @media (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
     background-image: 
     linear-gradient( to right, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56) )
url("../images/librdes2x.jpg");
   }
 }
}
}



.header__navigation {
   display: block;
   position: relative ;
   margin-left: auto;
   margin-right: auto;
   min-height: 230px;
   padding-bottom: 97px;
  @include beforeTablet{
  padding-top: 46px;
 
  }
   @include tablet{
   padding-top: 41px;
   
  
   } 
 @include  desktop{
   padding-top: 43px;

 }
}

.header__menu { 
display: flex;
align-items: center;
justify-content: space-between;
margin-right: auto;
@include beforeTablet{
padding-bottom: 43px; 
}
 @include tablet {
   text-align: center;
   padding-bottom: 37px;
  }
}

.icon--logo{
fill: currentColor;
box-sizing: border-box; 
@include tablet {
margin-right: 10px; 
}
}

.logo__title{
display: none; 
@include tablet { 
display: contents;  
color: $white; 
font-family : $ffRegular; 
font-size: var(--font-size30);
max-width: 141px;  
}
}

.header__list{
display: flex;
align-items: center;
justify-content: space-between;
& li:not(:last-child){margin-right: 39px;
} 
}


.header__link{ 
display:  Flex;
align-items: center;
justify-content: space-between;
position: relative;
text-transform: uppercase;
color: $white;
font-family: $ffMedium;
font-size: var(--font-size12);
}
 
.header__link::after {
display: block;
position: absolute;
content: '';
left: 0;
top: 15px;
width: 100%;
height: 3px;
background: $orange;
opacity: 0;
@extend %transitionTransform ;
transform: scaleX(0);
}

.header__link--current::after {
opacity: 1;
@extend %transitionTransform ;
transform: scaleX(1);
} 

.header__link:focus::after {
opacity: 1;
transform: scalex(1); 
}

.header__form--block{
   position: absolute;
  left: 20px;
  top: 113px;
  @include tablet{
    left: 216px;
  }
  @include desktop{
     left: 350px;
  }
}

.header__form{
display: block;
min-height: 20px;
position: relative;   
border-bottom: 1px solid $grey;

margin-right: auto;
font-size: var(--font-size14); 

@include beforeTablet{
  min-width: 280px;
}
@include tablet{
   width: 336px;
   margin-left: auto;
}
}

.header-input{
   vertical-align: middle;
   color: $white;
   font-family: $ffRegular;
   font-size: var(--font-size14);
   background-color: transparent; 
   max-width: 280px;
@include tablet{
 min-width: 336px;
}
}

//placeholder//
.header__form input::placeholder{
text-align: left;
background-color: transparent;
color: $white;
}


.header__form--button{
position: absolute;
right: 0px;
border: none;
outline: none;
cursor: pointer;
background: transparent;
}

//cтили сообщения//
.header__notice{
display: flex;
position: absolute;
top: 155px;
flex-wrap: wrap;
justify-content: center;
text-align: left;
font-size: var(--font-size14);
font-family: $ffRegular;
color: $red;
line-height: 1.14;
margin: 0 auto;
@include beforeTablet{
width: 280px; 
}
@include tablet{
   width: 100%;
  top: 155px;
   text-align: center;
   left: 0px;
 
}
}



.header__block--button{
display: inline-flex;
position: absolute;
top: 121px;
// right: 21px;
left: 50%;
transform: translateX(-50%);
}

.header__list--button{
   display: flex;
   text-align: center;
   align-items: center;
   & li:not(:last-child){margin-right: 20px;
} 
}

.header__button--library{
right: 0px;
cursor: pointer;
background: transparent;
 display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 129px;
  height: 44px;
  font-family: $ffMedium ;
  font-size: var(--font-size12);
  line-height: 0.75;
  color: $white;
  text-transform: uppercase;
  border: $border;
  border-radius: $borderRadius;
  outline: none;
  padding: 0px; 
  @extend %transitionBackgrColor;
  &:hover,
  &:focus{ 
    background-color: $orange;  
  }
  &:active {
    background-color: transparent;
}
@include tablet{
   width: 136px;
}
}
.hidden {
   display: none;
}