ul,
li {
  list-style-type: none;
}

.modal {
  background: $white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  //   display: flex;
  flex-direction: column;
  position: absolute;
  margin-left: 20px;
  margin-right: 20px;

  @include tablet {
    margin-left: 28px;
    margin-right: 30px;
  }

  @include desktop {
    margin-left: 18px;
    margin-right: 42px;
  }
}

.close-icon {
  margin-bottom: 10px;
  margin-left: 10px;

  @include desktop {
    margin-bottom: 19px;
    margin-left: 22px;
  }
}

.name-film {
  margin: 30px 0 20px 0;

  @include tablet {
    margin: 42px 0 20px 0;
  }

  @include desktop {
    margin: 59px 172px 20px 30px;
  }
}

.film {
  display: flex;
  flex-direction: row;
}

.grade-film {
  margin-right: 85px;
}

.grade-list {
  color: $lightGrey;
}

.grade-item {
  padding-bottom: 10px;
}

.grade {
  background: $orange;
  border-radius: 5px;
  color: $white;
  width: 36px;
  height: 16px;
  padding: 1px 10px;
}

.response-item {
  padding-bottom: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.5);
  opacity: 1;
}

.backdrop__hidden {
  opacity: 0;
  pointer-events: none;
}

// .backdrop__hidden .modal {
//   transform: scale(1.1) translate(-50%, -50%);
// }

.button {
  margin-top: 20px;
}

.btn__watched,
.btn__queue {
  cursor: pointer;
  width: 113px;
  height: 47px;

  @include tablet {
    width: 125px;
    height: 44px;
  }

  @include desktop {
    width: 136px;
    height: 44px;
  }

  background: $white;
  border: 1px solid $black;
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 15px;
}

.btn__watched {
  @mixin beforeTablet {
    padding-right: 19px;
    padding-left: 19px;
  }
}

.btn__watched:hover,
.btn__watched:focus,
.btn__queue:hover,
.btn__queue:focus {
  background: $orange;
  box-sizing: border-box;
  border-radius: 5px;
  color: $white;
}

.about {
  margin-bottom: 10px;
}

.description {
  width: 240px;

  @include tablet {
    width: 264px;
  }

  @include desktop {
    width: 396px;
  }
}
