.theme-switch {
  position: absolute;
  right: 72px;
  top: 140px;
  color: #f5e9e9;
  @include beforeTablet {
    right: 20px;
  }
}

.theme-switch__icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

body.theme-dark {
  // background-image: url(../images/hallCinema.jpg);
  background-image: url(../images/home2xmob.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-attachment: fixed;
  background-size: cover;
  .footer__students {
    color: $orange;
  }
  .tui-pagination .tui-page-btn,
  .film__name,
  .footer__link,
  .notification-library-text {
    color: $white;
  }
  .tui-pagination .tui-page-btn:hover {
    background-color: #8a3838;
  }
  .footer {
    background-color: transparent;
  }
}

header.theme-dark {
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
}
